extends ./layout

block content
    h1 Your information has been registered
    p Your account will remain inactive and you will not be able to login until your information is reviewed and verified.
    h4 Thanks!